@Scripts.Render("~/bundles/Attribute")
@Styles.Render("~/Content/jquery-ui.min.css")
@Styles.Render("~/Content/dataTables.jqueryui.css")
@model IEnumerable<CustomUpholstery.Models.AttributeValueDO>
<table class="attribute-main-right-panel-attribute-values-table">
    <tr>
        <td align="right">
            <b>List of values</b>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div class="attribute-table-filters">
                <input type="text" id="attributevalue-autocomplete" name="blah" style="display: none;">
            </div>
        </td>
        <td>
            <select class="attribute-main-right-panel-attribute-values-status">
                <option value="">All</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table id="attributevalue-table" class="attribute-main-right-panel-attribute-values-datatable">
                <thead>
                    <tr>
                        <th>
                            ID

                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action Mode
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomUpholstery.DataObject.AttributeValueDO value in Model)
                    {
                        <tr>
                            <td>@value.ID</td>
                            <td>@value.Description</td>

                            <td>@(value.Status == 900 ? "active" : "inactive")</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td class="tdActionButtons" valign="middle" align="center">
            <input type="button" value="New" class="btnNew" /> <br />
            <input type="button" value="Edit" class="btnEdit" /> <br />
            <input type="button" value="Copy" class="btnCopy" /> <br />
            <input type="button" value="Inactivate" class="btnInactivate" /> <br />
        </td>
    </tr>
</table>
@Scripts.Render("/Scripts/Attribute")
@Scripts.Render("~/bundles/jquery-ui.min.js")
@Scripts.Render("~/Scripts/jquery.dataTables.min.js")
@Scripts.Render("~/Scripts/script.js")