@model ExpenseCalculatorPresentation.ViewModel.ReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- jQuery UI CSS Reference -->
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
<!-- Code to wire up your DatePicker -->
<script type="text/javascript">
    
    $(function () {
       
        $('#StartDate').datepicker().val();
    })
    $(function () {
        
        $('#EndDate').datepicker().val();
    })
</script>



@{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    using (Html.BeginForm("GetReports", "Report", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form>
            <table>
                <tr>
                    <td>Report Type</td>
                    <td>
                        @Html.DropDownList("ddlReport", new SelectList(Model.ReportTypes, "reportTypeId", "reportTypeName"), "Select ReportType")
                    </td>
                </tr>
                <tr>
                    <td>Expense Type</td>
                    <td>
                        @Html.DropDownList("ddlExpense", new SelectList(Model.ExpenseTypes, "ExpenseTypeId", "ExpenseTypeName"), "Select ExpenseType")
                    </td>
                </tr>
            </table>
                <div class="form-group">
                    <label class="control-label col-md-2" for="CreatedOn">StartDate</label>
                    <div class="col-md-10">
                        <input class="text-box single-line" data-val="true" data-val-date="The field CreatedOn must be a date." data-val-required="The CreatedOn field is required." id="StartDate" name="StartDate" type="date" value="" />
                        <span class="field-validation-valid" data-valmsg-for="StartDate" data-valmsg-replace="true"></span>
                    </div>
                    <label class="control-label col-md-2" for="CreatedOn">EndDate</label>
                    <div class="col-md-10">
                        <input class="text-box single-line" data-val="true" data-val-date="The field CreatedOn must be a date." data-val-required="The CreatedOn field is required." id="EndDate" name="EndDate" type="date" value="" />
                        <span class="field-validation-valid" data-valmsg-for="EndDate" data-valmsg-replace="true"></span>
                    </div>
                </div>
                @Html.ValidationMessage("StartDate", "", new { @class = "text-danger" })

                @Html.ValidationMessage("EndDate", "", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                @*<asp:Panel runat="server" ID="pnlDates" Visible="false">
                    <tr>
                        <td>
                            Start Date:<asp:TextBox ID="txtStartDate" runat="server"></asp:TextBox>
                            <asp:ImageButton ID="imgStartDate" ImageUrl="~/Images/time.jpg"
                                             runat="server" onclick="imgStartDate_Click" />
                            <asp:Calendar ID="calStartDate" runat="server" Visible="False"
                                          onselectionchanged="calStartDate_SelectionChanged"></asp:Calendar>
                            &nbsp;&nbsp;
                            End Date:<asp:TextBox ID="txtEndDate" runat="server"></asp:TextBox>
                            <asp:ImageButton ID="imgEndDate" ImageUrl="~/Images/time.jpg"
                                             runat="server" onclick="imgEndDate_Click" />
                            <asp:Calendar ID="calEndDate" runat="server" Visible="False"
                                          onselectionchanged="calEndDate_SelectionChanged"></asp:Calendar>
                        </td>
                    </tr>
                </asp:Panel>*@  
                <table>
                <tr>
                    <td>
                    
                    <input type="submit" value="ViewReport"/>
                    
                    
                </tr>
            </table>

        </form>
    }
}






